<div class="block block-inverse app-footer">
 <div class="container">
    <div class="row">
      <div class="col-sm-9 m-b-md">
        <ul class="list-unstyled list-spaced">
          <li class="m-b"><h6 class="text-uppercase">About Airtime</h6></li>
          <li class="text-muted">
           We’ve been working on Airtime for the better part of our adult lives and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="#">speak@helloairtime.com</a>.
          </li>
          <br>
          <li class="text-muted">&copy; {{ site.year }}. Airtime Labs. All rights reserved.</li>
        </ul>
      </div>
    </div>
  </div>
</div>
