<nav class="navbar navbar-transparent navbar-fixed-top navbar-padded app-navbar p-t-md">
	<div class="container">
		<div class="navbar-header">
			<a class="navbar-brand" href="/" style="position:relative;top:-10px;">
				<img src="{{ site.cdn }}/img/airtime.svg" alt="Airtime" height="40" />
			</a>
		</div>
		<div class="navbar-collapse collapse text-uppercase">
			<ul class="nav navbar-nav navbar-right">
				<li>
					<a href="#about">About</a>
				</li>
				<li>
					<a href="#features">Features</a>
				</li>
				<li>
					<a href="#how-it-works">How it Works</a>
				</li>
				<li>
					<a href="#plans">Plans</a>
				</li>
				<li>
					<a href="#devices">Devices</a>
				</li>
			</ul>
		</div><!--/.nav-collapse -->
	</div>
</nav>
