<div class="stage-shelf stage-shelf-right hidden" id="sidebar">
  <ul class="nav nav-bordered nav-stacked">
    <li>
      <a href="#about">About Airtime</a>
    </li>
    <li>
      <a href="#features">Features</a>
    </li>
    <li>
      <a href="#how-it-works">How it Works</a>
    </li>
    <li>
      <a href="#coverage">Coverage</a>
    </li>
    <li>
      <a href="#plans">Plans</a>
    </li>
    <li>
      <a href="#devices">Devices</a>
    </li>
    <li>
      <a href="#rewards">Rewards</a>
    </li>
    <li>
      <a href="#partners">Partners</a>
    </li>
  </ul>
</div><!-- .stage-shelf -->
